{% extends 'base.html' %}
{% block content %}
  {% if current_user.is_authenticated %}
    <h2>Logged in as {{ current_user.username }}</h2>
    <form method="post" class="buttons" name="Join a public room by code or create one">
      <h1> Enter A Chat Room</h1>
      <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
        <button type="submit" name="join" >Join a Room</button>
      </div>
      <button type="submit" name="create" class="create-btn">Create a Room</button>
    </form>

    <form method="post" class="invite" name="form for inviting a person for a 1 on 1 chat">
      <h2>Invite a person to 1 on 1 chat room</h2>
      <input type="text" placeholder="recipient" name="username" id="recipient"/>
      <button type="button" name="invite" onclick="sendInvite()" id="invite-btn"> Invite </button>
    </form>
  {% else %}
    <h1>Enter The Chat Room</h1>
    <form method="post" class="buttons">
        <div>
            <label>Name:</label>
            <input type="text" placeholder="Pick a name" name="name" value="{{name}}"/>
        </div>
        <div class="join">
            <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
            <button type="submit" name="join" >Join a Room</button>
        </div>
        <button type="submit" name="create" class="create-btn">Create a Room</button>
    </form>
    <h3>
      want private messages?
      then register
    </h3>
  {% endif %}


  {% if error %}
  <ul>
      <li>
          {{error}}
      </li>
  </ul>
  {% endif %}
  
<script type="text/javascript">
  var socketio = io()

  function sendInvite() {
    recipient = $('#recipient').val();
    socketio.emit('invite', {recipient: recipient});
  }

  socketio.on('accept_invite', function(data) {
    socketio.emit('accept_invite', {'room_name' : data['room_name']})
  })

  socketio.on('redirect_to_chat', function(data) {
    var roomName = data['room_name'];
    window.location.href = '/room/' + roomName;
  })

  window.addEventListener('beforeunload', function() {
    socket.emit("disconnect");
  });
</script>

{% endblock %}