{% extends 'base.html' %}
{% block content %}
    <form method="post" class="buttons">
        <h1>Enter The Chat Room</h1>
        <div class="join">
            <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
            <button type="submit" name="join" >Join a Room</button>
        </div>
        <button type="submit" name="create" class="create-btn">Create a Room</button>
        <h2>Invite a person to 1 on 1 chat room</h2>
        <input type="text" placeholder="username" name="username" id="username"/>
        <button type="button" name="invite" id="invite-btn" onclick="sendInvite()"> Invite </button>
        {% if error %}
        <ul>
            <li>
                {{error}}
            </li>
        </ul>
        {% endif %}
    </form>
    <script type="text/javascript">
      var socketio = io();
    
     //   const messages = document.getElementById("messages");
    
     /*
        socketio.on("invite", (data) => {
            createMessage(data.name, data.message);
        }); 
    */
        const sendInvite = () => {
            const username = document.getElementById("username");
            if (username.value == "") return;
            socketio.emit("invite", {data: username.value});
            username.value = "";
        };
    </script>

{% endblock %}

<!--
         const createMessage = (name, msg) => {
            const content = `
            <div class="text">
                <span>
                    <strong>${name}</strong>: ${msg}
                </span>
                <span class="muted">
                    ${new Date().toLocaleString()}  Show local time, need to find better way cuz it shows the time when messages are recieved by the server not sent 
                </span>
            </div>
        `;

        messages.innerHTML += content;

    };

  socketio.on("invite", (data) => {
     createMessage(data.name, data.message);
    }); 

-->