{% extends 'base.html' %}
{% block content %}
    <h1>Send private message</h1>>
    <input type="text" rows="3" placeholder="Message" name="msg" id="msg"/>
    <h2>Who do you want to send it to?</h2>
    <input type="text" placeholder="username" name="username" id="username"/>
    <button type="button" name="invite" id="invite-btn"> Send </button>

    <script type="text/javascript">
        var socketio = io();
    
        const invite = document.getElementById("username");
    
        const createMessage = (name, msg) => {
            const content = `
            <div class="text">
                <span>
                    <strong>${name}</strong>: ${msg}
                </span>
                <span class="muted">
                    ${new Date().toLocaleString()} <!-- Show local time, need to find better way cuz it shows the time when messages are recieved by the server not sent -->
                </span>
            </div>
            `;
    
            messages.innerHTML += content;
    
        };
    
        /* 
        socketio.on("message", (data) => {
            createMessage(data.name, data.message);
        });

        */
    
        const sendMessage = () => {
            const message = document.getElementById("message");
            if (message.value == "") return;
            socketio.emit("message", {data: message.value});
            message.value = "";
        };
        socket.emit('invite', { recipient: recipientId });
    </script>
{% endblock %}