{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated and user_room == room %}
<head><script src="{{ url_for('static', filename='private_chat_script.js') }}"></script></head>
    <div class="message-box">
        <h2>Chat with {{friend}}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
            <button type="button" name="send" id="send-btn" onclick="sendMessage()"> Send </button>
        </div>
    </div>
{% for msg in room_messages %}
    <script type="text/javascript">
        createMessage("{{ msg[1] }}", "{{ msg[0] }}");
    </script>
{% endfor %}

{% else %}
<head><script src="{{ url_for('static', filename='public_chat_script.js') }}"></script></head>
    <div class="message-box">
        <h2>Chat Room: {{code}}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
            <button type="button" name="send" id="send-btn" onclick="sendMessage()"> Send </button>
        </div>
    </div>
{% for msg in sent_messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}")
    </script>
{% endfor %}
{% endif %}
{% endblock %}